* {
border: 1px solid black;
}

/* Start NavBar */

.navbar{
	display: flex;
	justify-content: space-between;
	background-color: #eb6953;
	color: #ffff;
}

.navhead{
	font-size: 28px;
	align-self: center;
	font-weight:bold;
}

.navlist{
	display: flex;
	align-items: center;
	gap: 20px;
	list-style: none;
	padding: 0;
	font-size: 20px;
}

/* End NavBar */

/* Start Headshot */

.headshot {
	display: flex;
	padding: 100px;
	font-size: 20px;
	background-color: #262c65;
	color: #ffff;
	gap: 100px;
}

.pheadshot {
	font-size: 20px;
	display: flex;
	flex-direction: column;
}

.pheader {
	font-size: 28px;
	font-weight: bold;
}

.pbody {
	flex: 1 1 0;
}

.picturehead {
	width: 500px;
	height: 200px;
}
/* End Headshot */