* {
border: 1px solid black;
}

.navbar{
	display: flex;
	justify-content: space-between;
	background-color: #ff671f;
	color: #ffff;
}

.navhead{
	font-size: 28px;
	align-self: center;
	font-weight:bold;
}

.navlist{
	display: flex;
	align-items: center;
	gap: 20px;
	list-style: none;
	padding: 0;
	font-size: 20px;
}