* {
border: 1px solid black;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
/* Start NavBar */

.navbar{
	display: flex;
	justify-content: space-between;
	background-color: #eb6953;
	color: #ffff;
}

.navhead{
	font-size: 28px;
	align-self: center;
	font-weight:bold;
	padding-left: 5px;
}

.navlist{
	display: flex;
	align-items: center;
	gap: 20px;
	list-style: none;
	padding: 0;
	font-size: 20px;
	padding-right: 5px;
}

/* End NavBar */

/* Start Headshot */

.headshot {
	display: flex;
	justify-content: space-evenly;
	padding: 75px;
	font-size: 20px;
	background-color: #262c65;
	color: #ffff;
}

.pheadshot {
	display: flex;
	flex-direction: column;
}

.pheader {
	font-size: 28px;
	font-weight: bold;
}

.pbody {
	flex: 1 1 auto;
	font-size: 20px;
}

.picturehead {
	width: 500px;
	height: 200px;
}
/* End Headshot */

/* Begin Listings */

.listings {
	display: flex;
	justify-content: space-evenly;
	padding: 50px;
	border-top: #eb6953 10px solid;
}

.listpic {
	min-width: 300px;
	min-height: 300px;
	margin-bottom: 10px;
	border-radius: 20px;
}

.textlist {
	text-align: center;
	font-size: 20px;
}

/*End Listings */

/* Begin Quote */

/* End Quote */